  #myInput {
      background-image: url('https://discordemoji.com/assets/img/icons/search-icon.png');
      /* Add a search icon to input */
      background-size: 30px;
      background-position: 6px 6px;
      /* Position the search icon */
      background-repeat: no-repeat;
      /* Do not repeat the icon image */
      width: 10%;
      /* Full-width */
      font-size: 16px;
      /* Increase font-size */
      padding: 12px 20px 12px 40px;
      /* Add some padding */
      border: 1px solid #ddd;
      /* Add a grey border */
      margin-top: 12px;
      margin-bottom: 12px;
      /* Add some space below the input */
  }
  
  #myTable {
      border-collapse: collapse;
      /* Collapse borders */
      width: 100%;
      /* Full-width */
      border: 1px solid #ddd;
      /* Add a grey border */
      font-size: 18px;
      /* Increase font-size */
  }
  
  #myTable th,
  #myTable td {
      text-align: left;
      /* Left-align text */
      padding: 12px;
      /* Add padding */
  }
  
  #myTable tr {
      /* Add a bottom border to all table rows */
      border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header,
  #myTable tr:hover {
      /* Add a grey background color to the table header and on hover */
      background-color: #f1f1f1;
  }
  /* The container */
  
  #myTable .container1 {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 27px;
      margin-left: 15px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  /* Hide the browser's default checkbox */
  
  #myTable .container1 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
  }
  /* Create a custom checkbox */
  
  #myTable .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: #eee;
  }
  /* On mouse-over, add a grey background color */
  
  #myTable .container1:hover input~.checkmark {
      background-color: #ccc;
  }
  /* When the checkbox is checked, add a blue background */
  
  #myTable .container1 input:checked~.checkmark {
      background-color: rgb(94, 94, 247);
  }
  /* Create the checkmark/indicator (hidden when not checked) */
  
  #myTable .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  /* Show the checkmark when checked */
  
  #myTable .container1 input:checked~.checkmark:after {
      display: block;
  }
  /* Style the checkmark/indicator */
  
  #myTable .container1 .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  /* Full-width input fields */
  
  .modal input[type=text],
  .modal textarea {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
  }
  /* Add a background color when the inputs get focus */
  
  .modal input[type=text]:focus,
  .modal textarea:focus {
      background-color: #ddd;
      outline: none;
  }
  /* Set a style for all buttons */
  
  .clearfix button {
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0px;
      border: none;
      cursor: pointer;
      width: 50%;
      opacity: 0.9;
  }
  
  .clearfix button:hover {
      opacity: 1;
  }
  /* Extra styles for the cancel button */
  
  .clearfix .cancelbtn {
      padding: 14px 10px;
      background-color: #f44336;
  }
  /* Float cancel and signup buttons and add an equal width */
  
  .clearfix .cancelbtn,
  .clearfix .signupbtn {
      float: left;
      width: 50%;
  }
  
  * {
      box-sizing: border-box;
  }
  /* Add padding to container elements */
  
  .container3 {
      padding: 16px;
  }
  /* The Modal (background) */
  
  .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: #474e5d;
      padding-top: 50px;
  }
  /* Modal Content/Box */
  
  .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto;
      /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
  }
  /* Style the horizontal ruler */
  
  hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
  }
  /* The Close Button (x) */
  
  .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
      color: #f44336;
      cursor: pointer;
  }
  /* Clear floats */
  
  .clearfix::after {
      content: "";
      clear: both;
      display: table;
  }
  /* Change styles for cancel button and signup button on extra small screens */
  
  @media screen and (max-width: 300px) {
      .cancelbtn,
      .signupbtn {
          width: 100%;
      }
  }
  
  #encours,
  #resol {
      display: none;
  }