* {
    box-sizing: border-box;

  }
  
/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 50px  25px;

}

.row {
    margin: 0 -5px;
    margin: 10px 10px 10px 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}

.fa 
{
    font-size:1000px;
    size: 100px;
}
.Identite{
  display:flex;
  padding-bottom: ;
}





/* Stats Admin */
  .Statistiques
  {
    padding: 10px 50px 10px 50px;

  }

  /* Make sure that padding behaves as expected */
  * {box-sizing:border-box}

  /* Container for skill bars */
  .container1 {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
  }

  .stats {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }

  .mdp {width: 90%; background-color: #4CAF50;} /* Green */
  .casse {width: 80%; background-color: #2196F3;} /* Blue */
  .reseau {width: 65%; background-color: #f44336;} /* Red */
  .autres {width: 60%; background-color: #808080;} /* Dark Grey */

  #wrapper3
	{
		overflow: hidden;
		padding: 0em 0em 5em 0em;
		background: #FFF;